/* Css Variation */

:root {
    --dark: #333333;
    --light: #FFFFFF;
    --primary: #DDDDDD;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    background: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
    color:var(--dark);
}

.btn {
    color: var(--light);
    background: var(--dark);
    text-decoration: none;
    padding: 0.8rem 1.1rem;
}

img {
    width: 100%;
}

/* Wrapper */
.wrapper {
    margin: 30px 50px;
    line-height: 1.4;
    display: Grid;
    gap: 20px;

}

/* Navigation Bar */

.main-nav ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.main-nav a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: var(--dark);
    background: var(--light);
    font-size: 1.1rem;
    padding: 0.8rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    color: var(--light);
    background: var(--dark);

}

/* Top-container */
.top-container {
    display: grid;
    gap: 20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
    

}

/* showcase */
.showcase {
    grid-area: showcase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-image: url('images/showcase.jpg');
    background-position: center;
    padding: 3rem; 
    box-shadow: var(--shadow);
    min-height: 500px;   
}

.showcase h1 {
    margin: 0;
    color: var(--light);
    font-size: 4rem;
}

.showcase p {
    color: var(--light);
    font-size: 1.1rem;
}

.top-box {
    display: grid;
    align-items: center;
    justify-items: center;
    background: var(--light);
    padding: 1.1rem;
    box-shadow: var(--shadow);
    
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}
.price {
    font-size: 2.5rem;
}
/* Services Boxes */

.services-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.box {
    background:var(--light);
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1.1rem;
    box-shadow: var(--shadow);

}

/* Portfolio */

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px;
    background: var(--light);
    box-shadow: var(--shadow) ;
}

/* Media Display */

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
}

.photos img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */

footer {
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}

/* Media Query */

@media (max-width: 700px){
    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .top-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b';
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .portfolio {
        grid-template-columns: 1fr;
    }

    .portfolio a {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .top-container{
        grid-template-columns: 1fr;
        grid-template-areas:
        'showcase'
        'top-box-a'
        'top-box-b';
    }

}